h1
{
    border: 2px solid brown;
}

.pre1
{
    background-color: rgb(231, 105, 105);
}
.li1
{
background-color: rgb(231, 105, 105);

}
.li2
{
    background-color: rgb(231, 105, 105);
}
.li3
{
    background-color: rgb(231, 105, 105);
}
.li4
{
    background-color: rgb(231, 105, 105);
}